global
    maxconn 100

defaults
    log global
    mode tcp
    retries 2
    timeout client 30m
    timeout connect 4s
    timeout server 30m
    timeout check 5s

listen primary_reads
    bind *:5000
    mode tcp
    option tcp-check
    tcp-check connect
    tcp-check send QUIT\r\n
    balance roundrobin
    server slave1 pg_slave1:5432 check
    server slave2 pg_slave2:5432 check
    server slave3 pg_slave3:5432 check

listen primary_writes
    bind *:5001
    mode tcp
    option tcp-check
    tcp-check connect
    tcp-check send QUIT\r\n
    server master pg_master:5432 check
